<div class="container-fulid mt-3">
    <div>
        <h4>Assigned Course</h4>
    </div>
    <hr class="mt-0 mb-3">
    <div class="row ">
        <div class="col-md-3" style="float: left;">
            <div class="card">
                <div class="card-body">
                    <video width="300" height="150" controls>
                        <source src="../../assets/contents/11PH_ Work_Energy_Power.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="float: left; ">
            <div class="card">
                <p>Course Name</p>
                <p>BY Teacher Name</p>
                <p>vaildity </p>
                <p>Total units</p>
                <p>Assigned Date</p>
            </div>
        </div>
    </div>
</div>